In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
xl =pd.ExcelFile("/content/RetailerSalesData.xlsx")
SalesData = xl.parse("Orders")

In [ ]:
CategoryProfitSales = SalesData[["Category","Profit","Sales"]]
TotalSegmentProfitSales = CategoryProfitSales.groupby(by = ["Category"]).sum()
print(TotalSegmentProfitSales)

                      Profit        Sales
Category
Furniture         18451.2728  741999.7953
Office Supplies  122490.8008  719047.0320
Technology       145454.9481  836154.0330

In [ ]:
#Look through Sub-Categories
TotalSubCatProfits = SubCatProfits.groupby(by = "Sub-Category").sum().sort_values(by="Profit")
print(TotalSubCatProfits)

                  Profit        Sales
Sub-Category
Tables       -17725.4811  206965.5320
Bookcases     -3472.5560  114879.9963
Supplies      -1189.0995   46673.5380
Fasteners       949.5182    3024.2800
Machines       3384.7569  189238.6310
Labels         5546.2540   12486.3120
Art            6527.7870   27118.7920
Envelopes      6964.1767   16476.4020
Furnishings   13059.1436   91705.1640
Appliances    18138.0054  107532.1610
Storage       21278.8264  223843.6080
Chairs        26590.1663  328449.1030
Binders       30221.7633  203412.7330
Paper         34053.5693   78479.2060
Accessories   41936.6357  167380.3180
Phones        44515.7306  330007.0540
Copiers       55617.8249  149528.0300

In [ ]:
#Group by Category
CategoryProfitSales=SalesData[["Category","Sub-Category","Profit","Sales"]]
TotalCatSubCat = CategoryProfitSales.groupby(by=["Category","Sub-Category"]).sum()
print(TotalCatSubCat)

                                  Profit        Sales
Category        Sub-Category
Furniture       Bookcases     -3472.5560  114879.9963
                Chairs        26590.1663  328449.1030
                Furnishings   13059.1436   91705.1640
                Tables       -17725.4811  206965.5320
Office Supplies Appliances    18138.0054  107532.1610
                Art            6527.7870   27118.7920
                Binders       30221.7633  203412.7330
                Envelopes      6964.1767   16476.4020
                Fasteners       949.5182    3024.2800
                Labels         5546.2540   12486.3120
                Paper         34053.5693   78479.2060
                Storage       21278.8264  223843.6080
                Supplies      -1189.0995   46673.5380
Technology      Accessories   41936.6357  167380.3180
                Copiers       55617.8249  149528.0300
                Machines       3384.7569  189238.6310
                Phones        44515.7306  330007.0540

In [ ]:
#Getting profits & sales of Regions
RegionProfitSales = SalesData[["Region","Profit","Sales"]]
TotalRegionProfitSales = RegionProfitSales.groupby(by = ["Region"]).sum()
print(TotalRegionProfitSales)

In [ ]:
#Getting profits & sales of Categories in each Region
RegionCategoryProfitSales = SalesData[["Region","Category","Profit","Sales"]]
TotalRegionSegmentProfitSales = RegionCategoryProfitSales.groupby(by = ["Region","Category"]).sum()
print(TotalRegionSegmentProfitSales)

                             Profit        Sales
Region  Category
Central Furniture        -2871.0494  163797.1638
        Office Supplies   8879.9799  167026.4150
        Technology       33697.4320  170416.3120
East    Furniture         3046.1658  208291.2040
        Office Supplies  41014.5791  205516.0550
        Technology       47462.0351  264973.9810
South   Furniture         6771.2061  117298.6840
        Office Supplies  19986.3928  125651.3130
        Technology       19991.8314  148771.9080
West    Furniture        11504.9503  252612.7435
        Office Supplies  52609.8490  220853.2490
        Technology       44303.6496  251991.8320

In [ ]:
#looking into Furniture Category
JustOfficeSupplies = SalesData.loc[SalesData["Category"] == "Furniture"]
OfficeSuppliesSales=JustOfficeSupplies[["Sub-Category", "Profit","Sales"]].groupby("Sub-Category").sum(). sort_values("Profit")
print(OfficeSuppliesSales)

                  Profit        Sales
Sub-Category
Tables       -17725.4811  206965.5320
Bookcases     -3472.5560  114879.9963
Furnishings   13059.1436   91705.1640
Chairs        26590.1663  328449.1030

In [ ]:
#Getting overview of Furniture Category through filtering by Region, Segment, then both.
JustFurniture = SalesData.loc[SalesData["Category"]=="Furniture"]
FurnitureRegionSegment = JustFurniture[["Region","Segment","Profit","Sales"]]
FurnitureRegionProfSales = FurnitureRegionSegment.groupby(by="Region").sum().sort_values(by="Profit")
FurnitureSegmentProfSales = FurnitureRegionSegment.groupby(by="Segment").sum().sort_values(by="Profit")
FurnitureRegionSegmentProfSales = FurnitureRegionSegment.groupby(by=["Region","Segment"]).sum()
print(FurnitureRegionProfSales)
print(FurnitureSegmentProfSales)
print(FurnitureRegionSegmentProfSales)

             Profit        Sales
Region
Central  -2871.0494  163797.1638
East      3046.1658  208291.2040
South     6771.2061  117298.6840
West     11504.9503  252612.7435
                Profit        Sales
Segment
Home Office  3875.3784  121930.6975
Consumer     6991.0786  391049.3120
Corporate    7584.8158  229019.7858
                        Profit        Sales
Region  Segment
Central Consumer    -3994.4342   86229.2190
        Corporate    2321.9939   52085.6018
        Home Office -1198.6091   25482.3430
East    Consumer     2038.1122  114211.8020
        Corporate     342.1257   64209.0460
        Home Office   665.9279   29870.3560
South   Consumer     4616.7326   70800.2040
        Corporate     952.0303   29645.0315
        Home Office  1202.4432   16853.4485
West    Consumer     4330.6680  119808.0870
        Corporate    3968.6659   83080.1065
        Home Office  3205.6164   49724.5500

In [ ]:
#Employer has an idea but needs data. Several new art vendors have approached her: two framed art companies one offering 
#prints and one offering original art and one offering 3D art. (what region / segment to test market) 

#Decided to go with Furnishings Sub-Category
#Getting overview of Furnishings

#Can be seen that Consumers in West Region has most sales & Profit for Furnishings) 

JustFurnishings = SalesData.loc[SalesData["Sub-Category"]=="Furnishings"]
FurnishingsRegionSegment = JustFurnishings[["Region","Segment","Profit","Sales"]]
FurnishingsRegionProfSales = FurnishingsRegionSegment.groupby(by="Region").sum().sort_values(by="Profit")
FurnishingsSegmentProfSales = FurnishingsRegionSegment.groupby(by="Segment").sum().sort_values(by="Profit")
FurnishingsRegionSegmentProfSales = FurnishingsRegionSegment.groupby(by=["Region","Segment"]).sum()
print(FurnishingsRegionProfSales)
print(FurnishingsSegmentProfSales)
print(FurnishingsRegionSegmentProfSales)

            Profit      Sales
Region
Central -3906.2168  15254.370
South    3442.6829  17306.684
East     5881.4071  29071.380
West     7641.2704  30072.730
                Profit      Sales
Segment
Home Office  1631.5132  17083.852
Corporate    3508.2077  25001.266
Consumer     7919.4227  49620.046
                        Profit      Sales
Region  Segment
Central Consumer    -1454.0524   9499.990
        Corporate   -1209.3583   3143.956
        Home Office -1242.8061   2610.424
East    Consumer     3021.1370  13177.068
        Corporate    1956.2306   9983.326
        Home Office   904.0395   5910.986
South   Consumer     1957.1855  10870.574
        Corporate    1087.9331   4504.680
        Home Office   397.5643   1931.430
West    Consumer     4395.1526  16072.414
        Corporate    1673.4023   7369.304
        Home Office  1572.7155   6631.012

4 year summary

Negatives:

*   Every segment in Central region has negative profits
*   Home Office segment has least profit overall and sales out of 3 segments
*   Home office segment has least profit in every region except for Central

In [ ]:
#Function to highlight numbers that are less than 0
def highlight_cells(val):
  color = 'red' if val < 0 else ''
  return 'background-color:{}'.format(color)

#Variable for formatting data as currency and percentage
format_dict = {'Profit':'${0:,.2f}', 'Discount': '{:.2%}'}

JustFurnishings = SalesData.loc[SalesData["Sub-Category"]=="Furnishings"]
JustFurnishingsYears = JustFurnishings.copy()
JustFurnishingsYears["Year"] = JustFurnishingsYears["Order Date"].dt.year
YearlyFurnishingsDiscountbyRegion = JustFurnishingsYears[["Year","Profit","Discount","Sales"]].groupby(by=["Year"]).sum().sort_values(by=["Year"]).style.format(format_dict).applymap(highlight_cells)
YearlyFurnishingsDiscountbyRegion = YearlyFurnishingsDiscountbyRegion
print("Yearly average profit and discount on Furnishings for each region.\n")
display(YearlyFurnishingsDiscountbyRegion)

Yearly average profit and discount on Furnishings for each region.

![image.png]()

![image.png]()

In [ ]:
#Function to highlight numbers that are less than 0
def highlight_cells(val):
  color = 'red' if val < 0 else ''
  return 'background-color:{}'.format(color)

#Variable for formatting data as currency and percentage
format_dict = {'Profit':'${0:,.2f}', 'Discount': '{:.2%}'}

#Grouping by year, Region
JustFurnishings = SalesData.loc[SalesData["Sub-Category"]=="Furnishings"]
JustFurnishingsYears = JustFurnishings.copy()
JustFurnishingsYears["Year"] = JustFurnishingsYears["Order Date"].dt.year
YearlyFurnishingsDiscountbyRegion = JustFurnishingsYears[["Region","Year","Profit","Discount","Sales"]].groupby(by=["Year","Region"]).mean().sort_values(by=["Year"]).style.format(format_dict).applymap(highlight_cells)
YearlyFurnishingsDiscountbyRegion = YearlyFurnishingsDiscountbyRegion
print("Yearly average profit and discount on Furnishings for each region.\n")
display(YearlyFurnishingsDiscountbyRegion)

Yearly average profit and discount on Furnishings for each region.

CENTRAL Region constantly has negative profits on yearly basis.

In [ ]:
#Function to highlight numbers that are less than 0
def highlight_cells(val):
  color = 'red' if val < 0 else ''
  return 'background-color:{}'.format(color)

#Variable for formatting data as currency and percentage
format_dict = {'Profit':'${0:,.2f}', 'Discount': '{:.2%}'}

#Grouping by year, segment
JustFurnishings = SalesData.loc[SalesData["Sub-Category"]=="Furnishings"]
JustFurnishingsYears = JustFurnishings.copy()
JustFurnishingsYears["Year"] = JustFurnishingsYears["Order Date"].dt.year
YearlyFurnishingsDiscountbyRegion = JustFurnishingsYears[["Segment","Year","Profit","Discount","Sales"]].groupby(by=["Year","Segment"]).mean().sort_values(by=["Year"]).style.format(format_dict).applymap(highlight_cells)
YearlyFurnishingsDiscountbyRegion = YearlyFurnishingsDiscountbyRegion
print("Yearly average profit and discount on Furnishings for each region.\n")
display(YearlyFurnishingsDiscountbyRegion)

Yearly average profit and discount on Furnishings for each region.

In [ ]:
#Sorting by highest avg. discount item in CENTRAL REGION

JustFurnishings = SalesData.loc[SalesData["Sub-Category"] == "Furnishings"]
FurnishingsDiscount = JustFurnishings[["Region","Product Name","Profit"]]
AveDiscount = FurnishingsDiscount.mean()
print(AveDiscount)
CentralFurnishings = FurnishingsDiscount.loc[FurnishingsDiscount["Region"]=="Central"]
FurnishingsProf = CentralFurnishings.groupby(by=["Product Name"]).mean().sort_values(by ="Discount", ascending = False)
print("PROF, DISCOUNT of Furnishings in Central region")
print(FurnishingsProf.head(25))

Profit      13.645918
Discount     0.138349
dtype: float64
PROF, DISCOUNT of Furnishings in Central region
                                                      Profit  Discount
Product Name
12-1/2 Diameter Round Wall Clock                    -17.5824       0.6
Eldon Expressions Wood Desk Accessories, Oak         -9.9138       0.6
Executive Impressions 12" Wall Clock                 -9.7185       0.6
OIC Stacking Trays                                   -2.1376       0.6
Electrix Incandescent Magnifying Lamp, Black        -24.1890       0.6
Electrix Halogen Magnifier Lamp                     -66.0620       0.6
36X48 HARDFLOOR CHAIRMAT                            -27.7985       0.6
Eldon Imge Series Desk Accessories, Clear           -7.4358       0.6
Eldon Image Series Desk Accessories, Ebony           -9.8800       0.6
Eldon Image Series Desk Accessories, Burgundy        -4.0128       0.6
Eldon Expressions Punched Metal & Wood Desk Acc...  -12.0064       0.6
Eldon 400 Class Desk Accessories, Black Carbon       -6.3000       0.6
Eldon Expressions Desk Accessory, Wood Pencil H...  -14.4750       0.6
Eldon Executive Woodline II Desk Accessories, M...  -16.5858       0.6
Eldon Executive Woodline II Cherry Finish Desk ...  -39.2544       0.6
Eldon Delta Triangular Chair Mat, 52" x 58", Clear  -31.8612       0.6
Nu-Dell EZ-Mount Plastic Wall Frames                 -3.9400       0.6
Eldon Cleatmat Chair Mats for Medium Pile Carpets   -39.1275       0.6
Seth Thomas 16" Steel Case Clock                    -43.8480       0.6
Eldon Advantage Foldable Chair Mats for Low Pil... -105.6900       0.6
Executive Impressions 14" Contract Wall Clock w...  -17.7840       0.6
Executive Impressions 16-1/2" Circular Wall Clock   -12.8256       0.6
Flat Face Poster Frame                              -13.5648       0.6
Floodlight Indoor Halogen Bulbs, 1 Bulb per Pac...   -2.1340       0.6
Master Caster Door Stop, Large Brown                 -4.8048       0.6

<ipython-input-84-23029a2544f1>:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  AveDiscount = FurnishingsDiscount.mean()

25 LEAST profitable furnishing items sold in CENTRAL region has AVG. discounts of 60%

In [ ]:
#Displaying most sold items that were NOT profitable in CENTRAL region

JustFurnishings = SalesData.loc[SalesData["Sub-Category"] == "Furnishings"]
FurnishingsDiscount = JustFurnishings[["Product Name","Profit","Sales"]]
print(AveDiscount)
FurnishingsProf = FurnishingsDiscount.groupby(by=["Product Name"]).sum().round().sort_values(by ="Profit", ascending = False)
PosFurnishings = FurnishingsProf[FurnishingsProf["Profit"] < 0.0]

display(PosFurnishings.head(15))

Profit    13.645918
Sales     95.825668
dtype: float64

                                                    Profit   Sales
Product Name
Executive Impressions 16-1/2" Circular Wall Clock     -1.0    59.0
Executive Impressions 14" Contract Wall Clock w...    -2.0    98.0
Stacking Tray, Side-Loading, Legal, Smoke             -3.0    47.0
Eldon 100 Class Desk Accessories                      -5.0    36.0
Telescoping Adjustable Floor Lamp                     -6.0   144.0
Eldon Expressions Desk Accessory, Wood Photo Fr...    -8.0   263.0
Dana Swing-Arm Lamps                                 -11.0   109.0
Electrix Incandescent Magnifying Lamp, Black         -16.0   117.0
36X48 HARDFLOOR CHAIRMAT                             -40.0   369.0
Tenex "The Solids" Textured Chair Mats               -41.0  1469.0
Eldon Cleatmat Chair Mats for Medium Pile Carpets    -42.0   344.0
Tenex Traditional Chairmats for Hard Floors, Av...   -46.0   180.0
Eldon Advantage Foldable Chair Mats for Low Pil...   -49.0   379.0
Eldon Executive Woodline II Cherry Finish Desk ...   -79.0    98.0
Eldon Cleatmat Plus Chair Mats for High Pile Ca...  -111.0  1304.0

In [ ]:
#correlation between discounts and sales 

import scipy.stats
x = "Discount"
y = "Sales"
GetCorrelation = scipy.stats.spearmanr(JustFurnishings[x],JustFurnishings[y])
Corr = GetCorrelation[0]
CorrRounded = str(Corr.round(2))
pValue = GetCorrelation[1]
pValuerounded = str(pValue.round(5))
print("Correlation between " + x + " and " + y + " is: "+ CorrRounded)
print("At p value: " +pValuerounded)

Correlation between Discount and Sales is: -0.18
At p value: 0.0

In [ ]:
#Avg discounts by region

JustFurnishings = SalesData.loc[SalesData["Sub-Category"]=="Furnishings"]
RegionFurnishingsDiscount = JustFurnishings[["Region","Discount"]].groupby(by ="Region").mean()
print(RegionFurnishingsDiscount)

         Discount
Region
Central  0.403902
East     0.077739
South    0.106667
West     0.032895

CENTRAL Region w/ AVG. discount of 40% on items in Furnishing Sub-Cat

In [ ]:
#Aggregate Profit as SUM and Discount as MEAN

FurnishingProduct = JustFurnishings[["Product Name","Region", "Profit","Discount"]]
CentralFurnishings = FurnishingProduct.loc[FurnishingsDiscount["Region"]=="Central"]
JustFurnishingsTotalProfAvgDiscount = CentralFurnishings.groupby("Product Name").agg({"Profit":'sum', "Discount":'mean'}).sort_values(by="Profit")
display(JustFurnishingsTotalProfAvgDiscount)

                                                      Profit  Discount
Product Name
Tenex Chairmat w/ Average Lip, 45" x 53"           -681.1200       0.6
Tenex Antistatic Computer Chair Mats               -427.4500       0.6
Deflect-o RollaMat Studded, Beveled Mat for Med... -426.1026       0.6
Luxo Professional Fluorescent Magnifier Lamp wi... -356.7280       0.6
Eldon ClusterMat Chair Mat with Cordless Antist... -252.0146       0.2
...                                                      ...       ...
Advantus Employee of the Month Certificate Fram...   76.0878       0.0
Luxo Professional Combination Clamp-On Lamps         79.7940       0.0
Deflect-o Glass Clear Studded Chair Mats             82.0776       0.0
3M Polarizing Task Lamp with Clamp Arm, Light Gray  284.9184       0.0
Electrix Architect's Clamp-On Swing Arm Lamp, B...  378.0216       0.2

[123 rows x 2 columns]

Central is NOT profitable region for Sub-Cat: Furnishing, in all of 4 years.

In [ ]:
JustFurnishings = SalesData.loc[SalesData["Sub-Category"]=="Furnishings"]
JustFurnishingsYears = JustFurnishings.copy()
JustFurnishingsYears["Year"] = JustFurnishingsYears["Order Date"].dt.year
Years = JustFurnishingsYears.Year.unique()
RegionJustTableYear=JustFurnishingsYears[["Region","Profit","Year","Discount"]]

for year in Years:
  OneYear = RegionJustTableYear.loc[RegionJustTableYear["Year"]==year]
  NoYear = OneYear[["Region","Profit","Discount"]]
  YearlyFurnishingsDiscountbyRegion=NoYear.groupby(by="Region",).mean()
  print("\nRegional table discounts for the year: "+ str(year))
  print(YearlyFurnishingsDiscountbyRegion)
  print("*"*30)

Regional table discounts for the year: 2016
            Profit  Discount
Region
Central -24.343469  0.396923
East     28.094417  0.063158
South    28.408887  0.075556
West     29.634083  0.036620
******************************

Regional table discounts for the year: 2017
            Profit  Discount
Region
Central -21.634154  0.383607
East     21.988121  0.079612
South    12.369102  0.134783
West     24.387651  0.028302
******************************

Regional table discounts for the year: 2018
            Profit  Discount
Region
Central  -6.162727  0.450000
East     14.315017  0.088462
South    12.823230  0.103030
West     17.828025  0.027119
******************************

Regional table discounts for the year: 2019
            Profit  Discount
Region
Central -19.428174  0.400000
East     14.174500  0.084615
South    28.588724  0.112195
West     27.945676  0.041176
******************************